.configOption {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 0px 0px rgb(207, 94, 1);
    border-radius: 0px;
    margin-left: 175px;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 350px;
    height: 50px;
    color: rgb(255, 115, 0);
}

.configOption:hover{
    background-color: rgb(236, 236, 236);
    border-color: rgb(255, 115, 0);
}

.configOption:focus{
    outline: none;
}
