.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(255, 115, 0);
    margin-top: 20px;
    margin-bottom: 25px;
}

.form-div{
    background-color: white;
    border-radius: 5px;
    height: 50px;
}

.form-div2{
    background-color: rgb(255, 115, 0);
    border-radius: 5px;
    border: 2px solid rgb(207, 94, 1);
    justify-content: center;
    margin-left: 450px;
    height: 325px;
    width: 375px;
    margin-bottom: 50px;
}

.form-label{
    color: grey;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-weight: bold;
    border-radius: 5px;
    height:25px;
    width: 120px;
}

.form-submit{
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 100px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    color: black;
}

.form-input{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}