.header {
    background-color: rgb(255, 115, 0);
    box-shadow: 0px 4px 0px 0px rgb(207, 94, 1);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 1270px;
    height: 80px;
    color: white;
    margin-bottom: 50px;
}
