.header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 0px 0px rgb(202, 202, 202);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 12vh;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
}
