.logo {
    background-color: rgb(255, 115, 0);
    color: white;
    height: 20vh;
    width: 20vh;
    image-resolution: 500px 500px;
    margin-left: 45vw;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}