.option2{
    background-color: rgb(255, 115, 0);
    box-shadow: 0px 4px 0px 0px rgb(207, 94, 1);
    border-radius: 0px;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 135px;
    height: 45px;
    color: rgb(255, 255, 255);
    float: right;
    margin-right: 50px;
}

.option2:hover {
    background-color: rgb(207, 94, 1);
    box-shadow: 0px 4px 0px 0px rgb(207, 94, 1);
    border-color: rgb(255, 115, 0);
}

.option2:focus{
    outline: none;
}
