.option {
    background-color: rgb(255, 115, 0);
    box-shadow: 0px 4px 0px 0px rgb(207, 94, 1);
    border-radius: 0px;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI';
    display: flex;
    width: 10vw;
    height: 6vh;
    color: rgb(255, 255, 255);
}

.option:hover{
    background-color: rgb(224, 108, 0);
    border-color: rgb(255, 115, 0);
    color: rgb(255, 255, 255);
}

.option:focus{
    outline: none;
}
