.quadrado{
    background-color: rgb(255, 115, 0);
    height: 450px;
    width: 600px;
    box-shadow: 0px 4px 0px 0px rgb(207, 94, 1);
    border-radius: 0px;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
}