.quadrado{
    background-color: rgb(255, 115, 0);
    height: 55vh;
    width: 45vw;
    box-shadow: 0px 4px 0px 0px rgb(207, 94, 1);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
    overflow-x: hidden;
    overflow-y: hidden;
}