.rotainfo{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 2px rgb(255, 115, 0);
    align-items: center;
    justify-content: left;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 400px;
    height: 45px;
    color: rgb(255, 115, 0);
    float: right;
}

.stops-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 40vh;
  overflow-y: auto;
}

.stop-item {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
  color: rgb(255, 115, 0);
  border-radius: 2px;
  box-shadow: 0px 0px 0px 2px rgb(255, 115, 0);
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 0.2vw;
  margin-top: 0.2vw;
}

.stop-item:hover {
  background-color: rgb(245, 245, 245);
}
