.rotainfo{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 2px rgb(255, 115, 0);
    align-items: center;
    justify-content: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 400px;
    height: 45px;
    margin-top: 5px;
    margin-left: 15px;
    color: rgb(255, 115, 0);
    float: right;
    margin-right: 50px;
}

