
.custom-checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin: 15px 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 5px;
}

.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.custom-checkbox-container:hover .checkmark {
    background-color: #ccc;
}

.custom-checkbox:checked ~ .checkmark {
    background-color: #faa83d;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    animation: checkmarkFadeIn 0.3s ease;
}

@keyframes checkmarkFadeIn {
    from {
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }
    to {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }
}

.checkmark-label {
    margin-left: 10px;
    color: #333;
    font-weight: 500;
}

.custom-checkbox:focus + .checkmark {
    box-shadow: 0 0 0 3px rgba(250, 168, 61, 0.4);
}

.button2 {
    background-color: rgb(250, 184, 61);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
}

.button2:hover {
    background-color: rgb(212, 138, 1);
    border-color: none;
}

.button2:focus {
    outline: none;
}