.button{
    background-color: rgb(250, 184, 61);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    margin-top: 5px;
    text-decoration: none;
    font-family: 'Segoe UI';
}

.button:hover{
    background-color: rgb(212, 138, 1);
    border-color: none;
}

.button:focus{
    outline: none;
}

.a:link{
    color: white;
    text-decoration: none;
}

.a:visited{
    color: white;
    text-decoration: none;
}