.subtitle{
    background-color: rgb(123, 61, 177);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 5px;
    border-color: none;
}

.subtitle:focus{
    outline: none;
}